<div class="btw__toggle">
  <label class="switch__label" for="checkbtw">{{ 'weichie.product_page.price_with_without_vat' | t }}</label>
  <label class="btw__switch">
    <input type="checkbox" id="checkbtw" name="checkbtw">
    <span class="btw__slider"></span>
  </label>
</div>
