{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

<div class="contact page-width page-width--narrow spaced-section">
  <h2 class="title">{{ section.settings.heading | escape }}</h2>

  {%- case request.locale.iso_code  -%}
    {%- when 'fr' -%}
      {formbuilder:MzUwODE=}
    {%- when 'nl' -%}
      {formbuilder:MzUwODE=}
   {%- when 'en' -%}
  {formbuilder:MzUwODE=}
  {%- endcase -%}
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
